<div class="dashboard-container">
    <p-card>
        <ng-template #title>
            Active timers
        </ng-template>
        <p>
            Connected to #group#, active timer set #timersetname#
        </p>
        <ng-template #footer>
            <p-button routerLink="/timers" [link]="true" label="Go to timers" />
        </ng-template>
    </p-card>
    <p-card>
        <ng-template #title>
            Edit timers
        </ng-template>
        <p>
            A total of <!--{{timerEditorService.timerSelection().length}}--> timer sets are registered
        </p>
        <ng-template #footer>
            <p-button routerLink="/configuration/timers" [link]="true" label="Configure timers" />
        </ng-template>
    </p-card>
    <p-card>
        <ng-template #title>
            Edit resources
        </ng-template>
        <div>
            #number images are available.<br/>
            #number sounds are available.
        </div>
        <ng-template #footer>
            <p-button [link]="true" routerLink="/configuration/resources" label="Configure resources" />
        </ng-template>
    </p-card>
</div>