
<p-card>
    <ng-template #title>
        Images
    </ng-template>
    <div class="flex-column-container">
         <!--@if (!timerData.images || timerData.images.length === 0) {
            No images uploaded
        } @else {
            @for (image of timerData.images; track image) {
               <div class="image-display flex-row-container">
                    <img [src]="image.base64Data" />
                    <div>
                        <div class="field">
                            <label for="imagename" >Name</label>
                        </div>
                        <mat-form-field>
                            <label>Name</label>
                            <input matInput [(ngModel)]="image.name">
                            <mat-icon matSuffix [matTooltip]="'File name: ' + image.fileName" matTooltipPosition="above">info</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            }
        }-->
        @if (showImageUpload) {
            <app-file-import (uploadedFile)="addImageToTimerSet($event)"></app-file-import>
        }
    </div>

    <ng-template #footer>
        <p-button (click)="backToOverview.emit(true)" label="Back to overview" icon="pi pi-arrow-left" />
        <p-button (click)="showImageUpload = !showImageUpload" label="Upload image" />
    </ng-template>
</p-card>