<div class="dashboard-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Active timers
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <a mat-button routerLink="/timers">
                Go to timers
            </a>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Edit timers
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <a mat-button routerLink="/edit">
                Edit timers
            </a>
        </mat-card-actions>
    </mat-card>
</div>