<mat-toolbar class="app-navbar">
    <a mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </a>
    <span>Shared timers</span>
    <span class="navbar-spacer"></span>
    <app-connection-info></app-connection-info>
    <app-toggle-light-dark-mode></app-toggle-light-dark-mode>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Global configuration</span>
    </button>
    <button mat-menu-item routerLink="/about">
        <mat-icon>info</mat-icon>
        <span>About this app</span>
    </button>
</mat-menu>