<div class="edit-details-container">
    <!--<mat-card>
        <mat-card-header>
            <mat-card-title>
                @if (isNew) {
                    Create a new timer set
                } @else {
                    Timer set details
                }
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="flex-column-container">
            <mat-form-field>
                <mat-label>Timer set id</mat-label>
                <input matInput required [(ngModel)]="timerData.id">
                <button mat-icon-button matSuffix (click)="generateId()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Display name</mat-label>
                <input matInput required [(ngModel)]="timerData.displayName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Group</mat-label>
                <input matInput [(ngModel)]="timerData.group">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Maximum timer duration (s)</mat-label>
                <input matInput type="number" min="1" required [(ngModel)]="timerData.maxDuration">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            @if (isNew) {
                <button mat-button color="primary" (click)="saveNewTimers()" [disabled]="!timerData.id || !timerData.displayName || !timerData.maxDuration">
                    Create timer set
                </button>
            }
            @if (!isNew) {
                <button mat-button color="primary" (click)="exportTimers()">
                    Export timer set
                </button>
                <button mat-button color="primary" (click)="saveTimers()">
                    Save changes
                </button>
            }
        </mat-card-actions>
    </mat-card>-->
    @switch (viewMode) {
        @case (0) {
            <!-- overview -->
            <!--<mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Edit timer set
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    @if (timerData.phases && timerData.phases.length > 0) {
                        {{timerData.phases.length}} phases are defined
                    } @else {
                        No phases defined
                    }
                    <br />
                    @if (timerData.events && timerData.events.length > 0) {
                        {{timerData.events.length}} events are defined
                    } @else {
                        No events defined
                    }
                    <br />
                    @if (timerData.sounds && timerData.sounds.length > 0) {
                        {{timerData.sounds.length}} sounds are uploaded
                    } @else {
                        No sounds uploaded
                    }
                    <br />
                    @if (timerData.images && timerData.images.length > 0) {
                        {{timerData.images.length}} images are uploaded
                    } @else {
                        No images uploaded
                    }
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="viewMode = 3">
                        View phases
                    </button>
                    <button mat-button (click)="viewMode = 6">
                        View events
                    </button>
                    <button mat-button (click)="viewMode = 1">
                        View sounds 
                    </button>
                    <button mat-button (click)="viewMode = 2">
                        View images 
                    </button>
                </mat-card-actions>
            </mat-card>-->
        }
        @case (1) {
            <!-- sounds -->
            <!--<app-edit-timer-sounds [timerData]="timerData" (backToOverview)="viewMode = 0"></app-edit-timer-sounds>-->
        }
        @case (2) {
            <!-- images -->
            <!--<app-edit-timer-images [timerData]="timerData" (backToOverview)="viewMode = 0"></app-edit-timer-images>-->
        }
        @case (3) {
            <!-- phases overview -->
            <!--<mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Phases
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="flex-column-container">
                    @if (!timerData.phases || timerData.phases.length === 0) {
                        No phases defined
                    } @else {
                        {{timerData.phases}}
                    }
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="viewMode = 0">
                        <mat-icon>arrow_back</mat-icon>
                        Back to overview
                    </button>
                </mat-card-actions>
            </mat-card>-->

        }
        @case (4) {
            <!-- phase details -->
            <!--<mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Events
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="flex-column-container">
                    @if (!timerData.events || timerData.events.length === 0) {
                        No events defined
                    } @else {
                        {{timerData.events}}
                    }
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>-->
        }
        @case (5) {
            <!-- new timer set -->
            
        }

        @case (6) {
            <!-- timer events -->
            <!--<app-edit-timer-events [timerData]="timerData" (backToOverview)="viewMode = 0"></app-edit-timer-events>-->
        }
    }
    @if (!isNew) {
    }
</div>