<div class="edit-container">
    <p-card>
        <ng-template #title>
            Edit timers
        </ng-template>
        <div class="timers-list">
            @for (timerSelectionEntry of editTimersService.timerSelection(); track timerSelectionEntry) {
                <p-button [link]="true" severity="secondary" class="editTimerSelectionEntry" [routerLink]="timerSelectionEntry.id">
                    <div pButtonLabel>
                        <span class="displayName">{{timerSelectionEntry.displayName}}</span>
                        <span class="group"> ({{timerSelectionEntry.group}})</span>
                    </div>
                </p-button>
            }
        </div>
        <ng-template #footer>
            <p-button [link]="true" routerLink="new" label="Add new timers" />
            <p-button [link]="true" routerLink="import" label="Import timers" />
        </ng-template>
    </p-card>
</div>