.edit-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100%;

    mat-card {
        min-width: 10em;
    }
}